backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
media_folder: static/images/uploads
public_folder: /images/uploads
collections:
  - name: 'posts'
    label: 'Posts'
    identifier_field: posts
    folder: 'content/posts'
    create: true
    publish_mode: editorial_workflow
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - {label: "Image", name: "image", widget: "image", required: true}
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Tags', name: 'tags', widget: 'list' }