<section class="contact-section">

    <div class="contact-section--content">

        <div class="contact-header">
            <img src="/images/txt.svg" alt="contact-header-image" width="322" height="100">
        </div>

        <div class="contact_menu">

            <div class="address">
                <h3>Address</h3>
                <p>No. 1 Barr. Ifeanyi Eleazu Street, Okpanam, Delta State.</p>
                <p>No. 3 Tasia Road off Awka Road, Onitsha, Anambra state.</p>
            </div>

            <div class="contact_menu--social">
                <h3>Contact | Social</h3>
                <div class="contact_menu--social_links">
                    <a href="https://youtube.com" name="youtube">YouTube</a>
                    <a href="https://instagram.com" name="instagram">Instagram</a>
                </div>
            </div>

            <div class="contact_menu--phone">
                <h3>Phone | Mail</h3>

                <a href="tel:+2348030693719" name="mobile-number">Call Us On: +2348030693719</a>
                <a href="mailto:hello@aldomconstruction.com" name="mail">hello@aldomconstruction.com</a>
            </div>

        </div>

    </div>
</section>