<section class="hero">

    <div class="vid-container">
        <video
            src="https://res.cloudinary.com/daumrovgg/video/upload/v1626398657/pexels-kindel-media-7578541_h9xibx.mp4"
            muted loop autoplay>
        </video>
    </div>

    <div class="img-container">

        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="/images/z.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="/images/p.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="/images/z.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="/images/rect2.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="/images/oo.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="/images/p.webp" style="width:100%">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Image text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail images -->
        <div class="row">

            <div class="column">
                <img class="demo cursor" src="/images/z.webp" style="width:100%" onclick="currentSlide(1)"
                    alt="The Aldom Project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/p.webp" style="width:100%" onclick="currentSlide(2)"
                    alt="The Building Project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/z.webp" style="width:100%" onclick="currentSlide(3)"
                    alt="The Mountain Project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/rect2.webp" style="width:100%" onclick="currentSlide(4)"
                    alt="The Eastern Corridor Project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/oo.webp" style="width:100%" onclick="currentSlide(5)"
                    alt="The Aldom II Project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/p.webp" style="width:100%" onclick="currentSlide(6)"
                    alt="The Best Project">
            </div>

        </div>

    </div>


    <!--
    <div class="description">
        <p>The Delta-Asaba Project <br> 2020 - 2021</p>

        <p>
            Residential
        </p>
    </div>
-->

</section>