<section class="services--section">

    <div class="content">
        <div class="services--section-description">
            <h1>We are a building construction firm and we make your dreams into beautifully designed well constructed homes.</h1>
            <p>brick by brick, bolts and nuts</p>
            <p>brick by brick, bolts and nuts</p>
            <p>brick by brick, bolts and nuts</p>
            <p>brick by brick, bolts and nuts</p>
        </div>

        <div class="services--section-gallery">
            <div>
                <img src="images/ia.webp" alt="residential buildings" width="625" height="417">
                <p>Residential Buildings</p>
            </div>

            <div>
                <img src="images/rect2.webp" alt="commercial buildings" width="625" height="417">
                <p>Commercial Buildings</p>
            </div>
        </div>
    </div>

    <button class="services--section-btn">
        <a href="/services/" name="services">
            view our services
        </a>
    </button>

</section>