{{ define "main" }}
<section class="about">

    <h1>About Us</h1>

    <div class="about--header">

        <div class="about--header__img">
            <p>
                We design buildings from the initial concept drawing a building
                plan to picking out the lightings and curtains, wee make owning your
                dream home as a flaming sword through butter
            </p>
    
            <div class="img">
                <img src="/images/oo.webp" alt="living room" width="625" height="625">
            </div>
        </div>


        <div class="about--header__under">
            <h3>Serve.</h3>
            <h3>Create.</h3>
            <h3>Innovate</h3>
        </div>

    </div>

    <div class="about--content">
        <p>
            Unfortunately for writers, humor is elusive and subjective.
            No two people think the same things are funny, and a piece that
            one magazine will reject as a dud is often published by another
            that finds it a jewel. The reasons for rejection are equally
            elusive. "It just doesn't work," editors say, and there's not much
            they can add. Occasionally such a piece can be made to work
            it has some flaw that can be repaired. Mortality, however, is
            high. "Humor can be dissected, as a frog can," E. B. White once
            wrote, "but the thing dies in the process and the innards are
            discouraging to any but the pure scientific mind."
            I'm no fancier of dead frogs, but I wanted to see if at least a
            few lessons could be learned by poking about in the innards,
            and when I was teaching at Yale I decided, one year, to teach a
            course in humor writing. I warned my students that possibly it
            couldn't be done and that we might end up killing the thing we
            loved. Luckily, humor not only didn't die; it bloomed in the
            desert of solemn term papers, and I repeated the course the
            following year. Let me briefly reconstruct our journey.
        </p>
        <p>
            Unfortunately for writers, humor is elusive and subjective.
            No two people think the same things are funny, and a piece that
            one magazine will reject as a dud is often published by another
            that finds it a jewel. The reasons for rejection are equally
            elusive. "It just doesn't work," editors say, and there's not much
            they can add. Occasionally such a piece can be made to work
            it has some flaw that can be repaired. Mortality, however, is
            high. "Humor can be dissected, as a frog can," E. B. White once
            wrote, "but the thing dies in the process and the innards are
            discouraging to any but the pure scientific mind."
            I'm no fancier of dead frogs, but I wanted to see if at least a
            few lessons could be learned by poking about in the innards,
            and when I was teaching at Yale I decided, one year, to teach a
            course in humor writing. I warned my students that possibly it
            couldn't be done and that we might end up killing the thing we
            loved. Luckily, humor not only didn't die; it bloomed in the
            desert of solemn term papers, and I repeated the course the
            following year. Let me briefly reconstruct our journey.
        </p>
        <p>
            Unfortunately for writers, humor is elusive and subjective.
            No two people think the same things are funny, and a piece that
            one magazine will reject as a dud is often published by another
            that finds it a jewel. The reasons for rejection are equally
            elusive. "It just doesn't work," editors say, and there's not much
            they can add. Occasionally such a piece can be made to work
            it has some flaw that can be repaired. Mortality, however, is
            high. "Humor can be dissected, as a frog can," E. B. White once
            wrote, "but the thing dies in the process and the innards are
            discouraging to any but the pure scientific mind."
            I'm no fancier of dead frogs, but I wanted to see if at least a
            few lessons could be learned by poking about in the innards,
            and when I was teaching at Yale I decided, one year, to teach a
            course in humor writing. I warned my students that possibly it
            couldn't be done and that we might end up killing the thing we
            loved. Luckily, humor not only didn't die; it bloomed in the
            desert of solemn term papers, and I repeated the course the
            following year. Let me briefly reconstruct our journey.
        </p>
    </div>

    <div class="about--image__container">
        
        <div class="about--image__section">

            <img src="/images/im.webp" alt="profile picture">

            <p>
                Unfortunately for writers, humor is elusive and subjective.
                No two people think
            </p>

        </div>

        <p>
            Managing Director <br>
            Barr. Ifeanyi Eleazu
        </p>
    </div>

    <div class="about--content">
        <p>
            I'm no fancier of dead frogs, but I wanted to see if at least a
            few lessons could be learned by poking about in the innards,
            and when I was teaching at Yale I decided, one year, to teach a
            course in humor writing. I warned my students that possibly it
            couldn't be done and that we might end up killing the thing we
            loved. Luckily, humor not only didn't die; it bloomed in the
            desert of solemn term papers, and I repeated the course the fol-
            lowing year. Let me briefly reconstruct our journey.
        </p>
    </div>
    {{ partial "contact-section" . }}
</section>
{{ end}}