{{ define "main" }}
<section class="services">

    <h1>our services.</h1>

    <div class="services--content">

        <div class="services--content-unit">
            <img src="/images/p.webp" alt="residential-services" width="536" height="600">
            <div class="services--content-text">
                <h2>Private Residential Buildings</h2>
                <p>
                    Let’s see how to write binary search in Python. The code sample here
                    uses arrays. If you don’t know how arrays work, don’t worry; they’re
                    covered in the next chapter.
                </p>
            </div>
        </div>

        <div class="services--content-unit scu">
            <img src="/images/z.webp" alt="commercial-services" width="536" height="600">
            <div class="services--content-text">
                <h2>Commercial Buildings</h2>
                <p>
                    Let’s see how to write binary search in Python. The code sample here
                    uses arrays. If you don’t know how arrays work, don’t worry; they’re
                    covered in the next chapter.
                </p>
            </div>
        </div>

        <div class="services--content-unit">
            <img src="/images/x.webp" alt="building-plan-services" width="536" height="600">
            <div class="services--content-text">
                <h2>Building Plans & Design</h2>
                <p>
                    Let’s see how to write binary search in Python. The code sample here
                    uses arrays. If you don’t know how arrays work, don’t worry; they’re
                    covered in the next chapter.
                </p>
            </div>
        </div>

        <div class="services--content-unit scu">
            <img src="/images/v.webp" alt="interior-decor-services" width="536" height="600">
            <div class="services--content-text">
                <h2>Interior Decor</h2>
                <p>
                    Let’s see how to write binary search in Python. The code sample here
                    uses arrays. If you don’t know how arrays work, don’t worry; they’re
                    covered in the next chapter.
                </p>
            </div>
        </div>
    </div>

    {{ partial "contact-section" . }}

</section>
{{ end}}